.column-name {  
    min-width: 90px !important;
}
li{
    list-style: none;
}

.cell {
    display: inline-block;
    border: 1px solid silver;
    min-width: 80px;
}

.header-col {
    font-weight: bold;
}
.highlighted{
    background-color: skyblue;
}
